anaconda-anon-usage 
anaconda-cli-base 
anaconda-client 
anaconda-cloud-auth 
anaconda-navigator 
annotated-types 
archspec 
asgiref==3.8.1
attrs 
boltons 
Brotli 
certifi 
cffi 
chardet 
charset-normalizer 
click 
colorama 
conda 
conda-content-trust 
conda-libmamba-solver 
conda-package-handling 
conda-repo-cli 
conda-token 
conda_package_streaming 
cryptography 
defusedxml 
distro 
Django==5.1.4
django-debug-toolbar==4.4.6
django-extensions==3.2.3
fastjsonschema 
frozendict 
idna 
jaraco.classes 
jsonpatch 
jsonpointer==2.1
jsonschema 
jsonschema-specifications 
jupyter_core 
keyring 
libmambapy 
markdown-it-py 
mdurl 
menuinst 
more-itertools 
navigator-updater 
nbformat 
packaging 
pillow 
pkce 
platformdirs 
pluggy 
ply 
psutil 
pycosat 
pycparser 
pydantic 
pydantic-settings 
pydantic_core 
Pygments 
PyJWT 
PyQt5==5.15.10
PyQt5-sip 
PyQtWebEngine==5.15.6
PySocks 
python-dateutil 
python-dotenv 
pytz 
pywin32==305.1
pywin32-ctypes 
PyYAML 
QtPy 
readchar 
referencing 
requests 
requests-toolbelt 
rich 
rpds-py 
ruamel.yaml 
ruamel.yaml.clib 
semver 
setuptools==75.1.0
shellingham 
sip 
six 
sqlparse==0.5.3
tabulate 
tqdm 
traitlets 
truststore 
typer 
typing_extensions 
tzdata==2024.2
ujson 
urllib3 
wheel==0.44.0
win-inet-pton 
zstandard 
