{% extends "base.html" %}
{% load static %}
{% block content %}

<h2>Confirm Delete</h2>

<p>Are you sure you want to delete this image?</p>

<div class="image-detail-container">
    <img src="{{ image.image.url }}" alt="Uploaded Image" style="max-width: 40%; height: auto;">
    <p>Hex Color: {{ image.hex_color }}</p>
</div>

<form method="POST" action="{% url 'pixels:delete_image' pk=image.pk %}">
    {% csrf_token %}
    <button type="submit" class="confirm-btn">Confirm Delete</button>
    <a href="{{ previous_page|default:default_back_url }}" class="cancel-btn">Cancel</a>
</form>


    


{% endblock %}