{% extends "base.html" %}
{% load static %}
{% block content %}

<h1>Uploaded Images</h1>

    {% for image in images %}
    <div class="image-container">
        <a href="{% url 'pixels:image_details' image.pk %}">
            <img src="{{ image.image.url }}" alt="Uploaded Image" style="width: 100px; height: auto;">
        <p>Hex Color: {{ image.hex_color }}</p>
        </a>
    </div>
    <div class="mini-nav-container">
        <a href="{% url 'pixels:delete_image' image.pk %}" class="delete-btn">Delete</a>
    </div>
    
    {% endfor %}

{% endblock %}