{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="hero">
        <div class="hero-container">
            <h1>Welcome to the <span>Pixel Extractor </span>application</h1>
            <div class="hr-line"></div>
        </div>
    </div>


    {% for image in images %}
    <div class="image-container">
        <a href="{% url 'pixels:image_details' image.pk %}">
            <img src="{{ image.image.url }}" alt="Uploaded Image" style="width:240px; height: auto;">
            <p>
                <span style="display: inline-block; width: 50px; height: 20px; background-color: {{ image.hex_color }}; border: 1px solid #000;"></span>
                {{ image.hex_color }}
            </p>
        </a>
        <div class="mini-nav-container">
            <a href="{% url 'pixels:image_details' image.pk %}" class="details-btn">Details</a>
            <a href="{% url 'pixels:delete_image' image.pk %}" class="delete-btn">Delete</a>
        </div>
        
    </div>
    
    {% endfor %}

{% endblock %}