{% extends "base.html" %}
{% load static %}
{% block title %}Upload Image{% endblock%}

{% block content %}

<h2>Upload an Image</h2>

<div class="form-container">
    <div class="form">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>
    </div>
    
    <div class="mini-nav-container">
        <a href="{% url 'pixels:image_list' %}" class="back-btn">Back</a>
    </div>
    
</div>

{% endblock %}